@import url("https://fonts.googleapis.com/css?family=Cormorant+Unicase|Roboto+Mono");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  position: relative;
  height: 100%;
}

.map-col {
  padding: 10px;
}

th {
  padding: 5px;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px; /* height of your footer */
}
