.footer {
  width: 100%;
  height: 30px;
  /* background-color: #ad8e79; */
  border-top: solid grey 1px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.footer-type {
  font-family: "Cormorant Unicase", serif;
  font-weight: 500;
  font-size: 18px;
}

.git-link {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 18px;
  color: black;
}
