.welcome {
  font-family: "Cormorant Unicase", serif;
  font-weight: 500;
  font-size: 100px;
  margin: 50px 0 0 20px;
  line-height: 110px;
}

.intro {
  width: 70%;
  margin: 10px 0 80px 30px;
  line-height: 20px;
}

.info-box {
  line-height: 20px;
  float: left;
  border: solid black 1px;
  border-left: 0;
}

ol {
  margin: 30px 20px 0 30px;
  display: list-item;
  margin-bottom: 20px;
}
li {
  list-style-type: decimal;
  margin: 10px;
}

.title {
  width: 110%;
  font-family: "Cormorant Unicase", serif;
  font-weight: 500;
  padding: 30px;
  font-size: 50px;
  border-bottom: solid black 1px;
}

.landing-body {
  margin: 30px 20px 0 30px;
  padding: 0 0 30px 0;
}

.portfolio-link {
  color: black;
  margin-right: 20px;
  text-decoration: underline;
}
.portfolio-link:hover {
  color: #0143cf;
}
