.signUp-box {
  background-color: #ebeadd;
  padding: 40px;
}

.signIn-link {
  color: #ad8e79;
  text-decoration: underline;
}

.submit-button {
  margin-top: 10px;
  color: white;
  background-color: black;
}
